.xdrcl-button {
	padding:5px;
	margin:0px;
	border:1px solid gray;
	font-size:1em;
	font-family:serif;
	background:#DDDDDD;
	cursor:pointer;
	border-radius:2px;
}
.xdrcl-button-div, .xdrcl-button-span {
	display:inline-block;
}
.xdrcl-button.enabled:hover {
	opacity:.8;
}
.xdrcl-button.enabled:active {
	opacity:.8;
	color:white;
}
.xdrcl-button.enabled:focus {
	opacity:.8;
	font-style:italic;
}

.xdrcl-button.disabled:focus {
	outline:none;
}

.xdrcl-button.disabled  {
	color:#555555;
	cursor: not-allowed;
}